<h1 class="text-center mb-3 mt-3">{{title}}</h1>
<form action="/api/media" method="POST" class="mb-4">
    <div class="form-group">
        <label for="title">Title</label>
        <input required type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" class="form-control" required>
            <option value="" hidden selected disabled>Select category</option>
            <option value="Movie">Movie</option>
            <option value="K-Drama">K-drama</option>
            <option value="TV Show">TV Show</option>
            <option value="Documentary">Documentary</option>
            <option value="Anime">Anime</option>
            <option value="Cartoon">Cartoon</option>
        </select>
    </div>
    <input type="submit" value="Add Media" class="btn btn-primary btn-block mt-4">
</form>

<form action="/api/media/delete" method="get" class="mb-4">
    <h4>Watchlist</h4>
    <div class="form-group">
        <ul id="medialist" class="list-group">
            {{#each media}}
            <li class="list-group-item">{{this.category}}: {{this.title}}<button type="submit" name="id"
                    value="{{this.id}}" class="btn float-end btn-danger btn-small"><i
                        class="fa-solid fa-trash"></i></button></li>
            {{/each}}
        </ul>
    </div>
</form>

{{!-- Modal Trigger --}}
<input type="submit" onClick="random()" value="Suggest Random" class="btn btn-block btn-success mb-4" data-bs-toggle="modal"
    data-bs-target="#basicModal" />

<!-- Modal -->
<div class="modal fade" id="basicModal" tabindex="-1" aria-labelledby="basicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="basicModalLabel">Suggestion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h4 id="watch_suggestion"></h4>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    var myModal = new bootstrap.Modal(document.getElementById('basicModal'))

    function random() {
        // Grabbing list of media from the DOM tree
        let medialist = document.getElementById("medialist").innerHTML.split("\n");
        let temp = [];
        for (let i of medialist) {
            i && temp.push(i); // copy each non-empty value to the 'temp' array
        }
        medialist = temp;

        // check to see if list is empty (>1 because there's always empty at index 0 in DOM)
        if (medialist.length > 1) {
            let len = medialist.length - 1; // minus 1 because last thing in array will always be empty
            let randomIndex = Math.floor(Math.random() * len);
            let selection = medialist[randomIndex].split('>')[1].split('<')[0]
            document.getElementById('basicModalLabel').innerText = "Suggestion";
            document.getElementById('watch_suggestion').innerText = selection;
        }
        else {
           document.getElementById('basicModalLabel').innerText = "Oops ..."; 
           document.getElementById('watch_suggestion').innerText = "Looks like you haven't added anything to the watchlist!"
        }
    }

</script>